<div class="book-list">
    <ul class="row">
        <li ng-repeat="book in $ctrl.books" class="book-item col-lg-3 col-md-4 col-sm-2">
            <img ng-src="{{'/images/thumbnails/' + book.asin + '.jpg'}}" alt="{{book.title}}">
            <a ng-href="{{'/#!/books/' + book.id}}" class="book-title">{{book.title}}</a>
            <div class="book-author">{{book.author}}</div>
            <div class="book-published-at">{{book.publishedAt | date : 'yyyy-MM-dd'}}</div>
        </li>
    </ul>
</div>