<div class="book-list">
    <ul class="row">
        <li ng-repeat="book in $ctrl.books" class="book-item col-lg-3 col-md-4 col-sm-2">
            <img ng-src="{{'/images/thumbnails/' + book.asin + '.jpg'}}" alt="{{book.title}}">
            <a ng-href="{{'/#!/books/' + book.id}}" class="book-title">{{book.title}}</a>
            <div class="book-author">{{book.author}}</div>
            <div class="book-published-at">{{book.publishedAt | date : 'yyyy-MM-dd'}}</div>
        </li>
    </ul>

    <nav class="container bottom-pagination">
        <ul class="pagination">
            <li>
                <a ng-href="/#!/books?page=1" aria-label="Previous" ng-disabled="$ctrl.first">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li ng-repeat="num in $ctrl.pages"><a ng-href="{{'/#!/books?page=' + num}}">{{num}}</a></li>
            <li>
                <a ng-href="{{'/#!/books?page=' + $ctrl.number}}" aria-label="Next" ng-disabled="$ctrl.last">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>